<!DOCTYPE html>
<html lang="en-us">
  <head>
	<meta charset="UTF-8">
	<title>XT1024.GitHub.io by XT1024</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="/stylesheets/normalize.css" media="screen">
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="/stylesheets/stylesheet.css" media="screen">
	<link rel="stylesheet" type="text/css" href="/stylesheets/github-light.css" media="screen">
	
	<style>a:hover{TEXT-DECORATION:none}</style>
  </head>
  <body>
	<section class="page-header">
	  <h1 class="project-name">编程杂谈</h1>
	  <h2 class="project-tagline">lethexie</h2>
	</section>

	<section class="main-content">
	{% for post in site.categories.blog%}
		<h3><a class="anchor" href="{{ post.url }}" aria-hidden="true"><span class="octicon octicon-link">{{ post.title }}</span></a></h3>
		<p>{{ post.description }}</p>
		<hr>
	{% endfor %}
	<footer class="site-footer">
	<h4>In me the tiger sniffs the rose.</h4>
	</footer>

	</section>

  
  </body>
</html>
