<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8">
    <title>Xt1024.GitHub.io by XT1024</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="stylesheets/normalize.css" media="screen">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="stylesheets/stylesheet.css" media="screen">
    <link rel="stylesheet" type="text/css" href="stylesheets/github-light.css" media="screen">
  </head>
  <body>
    <section class="page-header">
      <h1 class="project-name">XT1024.GitHub.io</h1>
      <h2 class="project-tagline">github pages</h2>
    </section>

    <section class="main-content">
    {% for post in site.categories.blog%}
        <h3><a class="anchor" href="{{ post.url }}" aria-hidden="true"><span class="octicon octicon-link"></span></a>{{ post.title }}</h3>
        <p>{{ post.description }}</p>
        <hr>
    {% endfor %}
<!--      <h3>
<a id="welcome-to-github-pages" class="anchor" href="#welcome-to-github-pages" aria-hidden="true"><span class="octicon octicon-link"></span></a>Welcome to GitHub Pages.</h3>

<p>This automatic page generator is the easiest way to create beautiful pages for all of your projects. Author your page content here using GitHub Flavored Markdown, select a template crafted by a designer, and publish. After your page is generated, you can check out the new branch:</p> -->
      <footer class="site-footer">
      <h4>Copyright © 1998 - 2015 Harry Xie. All Rights Reserved.</h4>
      </footer>

    </section>

  
  </body>
</html>
